.banner{ background-image: url('images/banner.jpg'); background-size: 100% 100%; width: auto; }
.navbar li{ list-style-type: none;  float: left; padding: 30px; }
.navbar a{ text-decoration: none; color: white; background-color: }